<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/main.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product
    main
        div.grid
            article.card.product-item
                header.card__header
                    h1.product__title Great Book
                div.card__image
                    img(src="https://www.incimages.com/uploaded_files/image/970x450/getty_883231284_200013331818843182490_335833.jpg" alt="A Book")
                div.card__content
                    h2.product__price $19.99
                    p.product__description A very interesting book about so many even more interesting things!
                div.card__actions
                    button.btn Add to Cart